PORT=3000

DATABRICKS_HOST="YOUR DATABRICKS HOST"
DATABRICKS_HTTP_PATH="YOUR DATABRICKS HTTP PATH"
DATABRICKS_TOKEN="YOUR DATABRICKS TOKEN"

JWT_ACCESS_SECRET="ENTER YOUR SECRET"
JWT_REFRESH_SECRET="ENTER YOUR SECRET"